* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif !important;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: "Inter", sans-serif !important;
}
